#msg-list {
  list-style: none;
  display: block;
  margin: 30px;
  padding: 10px;
  width: 500px;
  border: 1px solid #ececec;
  height: 300px;
  overflow: scroll;
}

#msg-list li {
  display: block;
  margin-bottom: 5px;
  padding: 8px;
  border: 1px solid #ececec;
}

#msg-list li.left {
  text-align: left;
}

#msg-list li.right {
  text-align: right;
}

#input-wrapper {
  margin: 30px;
  padding: 30px;
  background-color: #dedede;
}
